<title><%= page.title %></title>

<% const description = page.description ? page.description : site.description; %>
<meta name="description" content="<%=  description %>">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="images/logo/64.png">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

<!-- OG -->
<meta property="og:title" content="<%= page.title %>">
<meta content="<%=  description %>" property="og:description">
<meta property="og:image" content="/images/logo/400.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="/images/logo/400.png">
<meta name="twitter:title" content="<%= page.title %>">
<meta name="twitter:description" content="<%= description %>">

<script src="js/button.js" defer></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117702399-3"></script>
<script>
  if (window.location.host === "fuckyeahbutton.org")
  {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117702399-3');
  }
</script>
